<section id="feed" ng-controller="main.home.masonry as msnryCtrl">
  <div ng-init="feedCtrl.initMsnry()" class="masonry-container js-masonry" data-masonry-options='{"gutter": 0 }' ng-controller="main.home.feed as feedCtrl">
    <!-- items -->
    <div class="item grid-sizer"></div>
    <div class="item w2">
      <md-card>
        <img src="images/michio-poem.jpg" width="100%">
      </md-card>

    </div>
    <div class="item" ng-class="{w2: entry.video}" ng-repeat="entry in feedCtrl.feed" ng-if="entry.title">

      <md-card ng-init="msnryCtrl.reload()">
        <md-toolbar>
          <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h3>{{entry.title}}</h3>
            <span flex></span>
            <md-button aria-label="share" ng-click=""><i class="mdi mdi-share mdi-lg"></i>
            </md-button>
            <md-button aria-label="extras" ng-click=""><i class="mdi mdi-lg mdi-dots-vertical"></i>
            </md-button>
          </div>
        </md-toolbar>
        <img ng-src="{{entry.mainImage.url}}" alt="header image" ng-if="entry.mainImage && !entry.media">
        <div class="video-frame" ng-if="entry.media">
          <em-embed urlsearch="{{entry.url}}" ng-init="msnryCtrl.reload()">
          </em-embed>
        </div>
        <md-content class="md-padding">
          <p>
            {{entry.description}}
          </p>
        </md-content>

        <!-- <div ng-if="entry.video" class="video-frame">
          <youtube-video video-url="entry.video" player-width="'100%'" player-height="'100%'" ng-init="msnryCtrl.reload()"></youtube-video>
        </div> -->
        <md-toolbar>
          <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <md-button aria-label="bottom toolbar button" ng-click=""><i class="mdi mdi-lg mdi-tag"></i>
            </md-button>
            <md-button aria-label="bottom toolbar button" ng-click=""><i class="mdi mdi-lg mdi-comment-text-outline"></i>
            </md-button>

            <span flex></span>
            <md-button aria-label="bottom toolbar button" ng-click=""><i class="mdi mdi-lg mdi-heart-outline"></i>
            </md-button>

          </div>
        </md-toolbar>
      </md-card>

    </div>

  </div>
</section>