<section ng-controller="main.home.masonry as msnryCtrl">
  <div ng-init="feedCtrl.initMsnry()" class="masonry-container js-masonry" data-masonry-options='{"gutter": 0 }'>
    <!-- items -->
    <div class="item grid-sizer"></div>
    <div class="item w2">
      <md-card>
        <img src="images/michio-poem.jpg" width="100%">
      </md-card>

    </div>
    <div class="item" ng-repeat="item in homeCtrl.feed">
      <md-card>
        <i class="mdi mdi-bell"></i>
        <img src="images/kushi-crest.png">

      </md-card>
    </div>
    <div class="item">
      <md-card><i class="mdi mdi-bell"></i>
        <img src="images/kushi-crest.png">
      </md-card>
    </div>
    <div class="item">
      <md-card><i class="mdi mdi-bell"></i>
        <img src="images/kushi-crest.png">
      </md-card>
    </div>
    <div class="item">
      <md-card>
        <i class="mdi mdi-bell"></i>
        <img src="images/kushi-crest.png">

      </md-card>
    </div>
    <div class="item">
      <md-card><i class="mdi mdi-bell"></i>
        <img src="images/kushi-crest.png">
      </md-card>
    </div>
    <div class="item">
      <md-card><i class="mdi mdi-bell"></i>
        <img src="images/kushi-crest.png">
      </md-card>
    </div>
    <div class="item">
      <md-card><i class="mdi mdi-bell"></i>
        <img src="images/kushi-crest.png">
      </md-card>
    </div>
    <div class="item">
      <md-card><i class="mdi mdi-bell"></i>
        <img src="images/kushi-crest.png">
      </md-card>
    </div>
    <div class="item">
      <md-card><i class="mdi mdi-bell"></i>
        <img src="images/kushi-crest.png">
      </md-card>
    </div>
    <div class="item">
      <md-card><i class="mdi mdi-bell"></i>
        <img src="images/kushi-crest.png">
      </md-card>
      <ng-button aria-label="test layout" ng-click="feedCtrl.layout()">test</ng-button>
    </div>

  </div>
</section>