//background-color
md-content.md-default-theme {
  //background-color: #37474f;
}
//fonts
body,
h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Old Standard TT', serif;
}
//mdi
.mdi-lg {
  font-size: 16pt;
}
.mdi-2x {
  font-size: 24pt;
}
.mdi-bold {
  font-weight: bold;
}
//**nav
section#nav {
  padding: 16px;
  #options {
    margin: 0 10px 0 16px;
    padding: 4px;
  }
  #filters {
    margin: 0 0 0 16px;
    padding: 4px;
  }
}
//sideNav
section#filter-menu {
  color: rgba(0, 0, 0, 0.8);
  md-content {
    padding: 16px;
    span.md-subheader-content {
      i {
        margin-right: 16px;
      }
    }
    md-list {
      md-item {
        i {
          margin-right: 16px;
        }
        button.md-button {
          margin-right: 16px;
          i {
            margin-right: 0;
          }
        }
      }
    }
  }
}
button.side-nav {
  img,
  h3 {
    opacity: 0.6;
  }
  h3 {
    margin-left: 16px;
  }
}
//***search input
#search {
  padding: 2px;
  //margin: 16px;
  border-radius: 2px;
  md-input-container {
    padding: 0;
    input {
      
    }
  }
  md-input-container.md-input-has-value {
    input {
      
    }
  }
}
#search.expanded {
  background-color: white;
  button.md-button {
    color: rgba(0,0,0,0.87);
  }
}
//grid card
#feed {
  md-card {
    .video-frame {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
//masonry
.grid-sizer.item {
  height: 0;
  padding: 0;
  margin: 0;
}
.item {
  width: 100%;
  //margin-bottom: 16px;
  padding: 8px;
  md-card {
    background-color: LightSteelBlue;
    overflow: hidden;
  }
}
.item.w2 {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .expanded.nav-bar-title {
    display: none;
  }
}
@media screen and (min-width: 500px) and (max-width:959px) {
  .feed {
    div.masonry-container {
      padding: 8px;
    }
  }
  .item {
    width: 48%;
    //background-color: #ddd;
  }
  .item.w2 {
    width: 96%;
  }
}
@media screen and (min-width: 960px) and (max-width:1199px) {
  .item {
    width: 32%;
    //background-color: #dfd;
  }
  .item.w2 {
    width: 64%;
  }
}
@media screen and (min-width: 1200px) and (max-width:1649px) {
  .item {
    width: 24%;
  }
  .item.w2 {
    width: 48%;
  }
}
@media screen and (min-width: 1650px) {
  .item {
    width: 19%;
  }
  .item.w2 {
    width: 38%;
  }
}
//Helpers
.fixed {
  position: fixed;
}