@import "../../bower_components/font-awesome/scss/font-awesome.scss";
.full-screen {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.full-height,
.full-height .fa-surface {
  height: 100%;
}
.full-width,
.full-width .fa-surface {
  width: 100%;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
//fonts
body {
  font-family: 'Old Standard TT', serif;
}
//mdi
.mdi-lg {
  font-size: 16pt;
}
.mdi-2x {
  font-size: 24pt;
}
.mdi-bold {
  font-weight: bold;
}
//nav
section#nav {
  position: fixed;
  padding: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  #options {
    margin: 0 10px 0 16px;
    padding: 4px;
  }
  #filters {
    margin: 0 0 0 16px;
    padding: 4px;
  }
  input {
    color: white;
  }
}
section#filter-menu {
  color: rgba(0, 0, 0, 0.8);
  md-content {
    padding: 16px;
    span.md-subheader-content {
      i {
        margin-right: 16px;
      }
    }
    md-list {
      md-item {
        i {
          margin-right: 16px;
        }
        button.md-button {
          margin-right: 16px;
          i {
            margin-right: 0;
          }
        }
      }
    }
  }
}
button.side-nav {
  img,
  h3 {
    opacity: 0.6;
  }
  h3 {
    margin-left: 16px;
  }
}
//search input
#search {
  padding: 2px;
  //margin: 16px;
  border-radius: 2px;
  md-input-container.md-default-theme {
    padding: 0;
    input {
      //background-image: url("../images/app/magnify.png");
      background-repeat: no-repeat;
      //border-color: white;
    }
  }
  md-input-container.md-input-has-value {
    //background-color: #ddd;
    input {
      background-image: none;
    }
  }
}
#search.expanded {
  background-color: white;
  i,
  input {
    color: rgba(0, 0, 0, 0.8);
  }
}
//options menu
#options-menu {
  md-card {
    md-content {
      padding: 8px 16px;
      div {
        top: -32px;
        padding: 0 3px;
      }
      h3 {
        margin-top: 0;
        padding-top: 6px;
      }
      button.md-button {
        //top: -12px;
        padding: 6px;
      }
    }
  }
}
//main content
md-content.main {
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  transform-origin: 0 0 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -1000, 1);
}
//feed
feed {
  //z-index: 10;
  transform-origin: 0 0 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -1000, 1);
  div.masonry-container {
    position: relative;
    top: 60px;
    width: 100%;
    //padding: 8px;
    //margin: 16px;
    transform-origin: 0 0 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -1000, 1);
  }
}
div.famous-surface {
  div.fa-surface {
    height: 100%;
  }
}
//fireman-sam
fireman-sam {
  h3 {
    margin-top: 0;
  }
  .firesam-top {
    height: 30px;
  }
  .md-fab {
    top: -15px;
  }
  md-toolbar {
    border-radius: 0 0 2px 2px;
  }
}
//tags
.tag-editor {
  display: block;
  position: relative;
  margin: 5px 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  min-height: 40px;
  overflow: hidden;
  padding: 0 9px;
  font-size: 16px;
  font-weight: normal;
  background-color: #fff;
  color: #000;
  cursor: text;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 38px;
}
.tag-draft {
  
}
.tag-suggestions {
  display: block;
}
.tag-editor .tag {
  display: inline-block;
  height: 24px;
  margin: 0 7px 0 0;
  background-color: #ffab40;
  color: #fff;
  padding: 0 5px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 24px;
  cursor: default;
  transition: box-shadow 100ms linear;
}
.tag-editor .tag:hover {
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.tag-editor .tag .remove {
  margin: 0 0 0 5px;
  font-weight: bold;
  cursor: pointer;
}
.tag-editor .tag-input {
  display: inline-block;
  width: auto;
  height: 38px;
  border: 0;
  margin: 0;
  padding: 0;
}
.tag-editor .tag-input:focus {
  box-shadow: none;
  outline: none;
}
.tag-editor.active {
  border-color: #aaa;
}
.tag-editor .tag-suggestions {
  cursor: auto;
}
.tag-editor .tag-suggestions .title {
  display: block;
  float: left;
  height: 25px;
  margin: 7px 7px 0 0;
  background-color: transparent;
  color: #888;
  font-weight: bold;
  padding: 0 5px;
  font-size: 14px;
  line-height: 25px;
}
.tag-editor .tag-suggestions .tag {
  cursor: pointer;
  background-color: #bdbdbd;
}
//test masonry
#container {
  .stamp {
    position: absolute;
    display: flex;
    top: 0;
    right: 16px;
    width: 50%;
  }
}
.item {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  transform-origin: 0 0 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -1000, 1);
  md-card {
    background-color: #ddd;
  }
}
.item.w2 {
  width: 100%;
}
@media screen and (min-width: 500px) and (max-width:959px) {
  .feed {
    div.masonry-container {
      padding: 8px;
    }
  }
  .item {
    width: 49%;
    //background-color: #ddd;
  }
  .item.w2 {
    width: 98%;
  }
}
@media screen and (min-width: 960px) and (max-width:1199px) {
  .item {
    width: 32%;
    //background-color: #dfd;
  }
  .item.w2 {
    width: 64%;
  }
}
@media screen and (min-width: 1200px) and (max-width:1649px) {
  .item {
    width: 24%;
  }
  .item.w2 {
    width: 48%;
  }
}
@media screen and (min-width: 1650px) {
  .item {
    width: 19%;
  }
  .item.w2 {
    width: 38%;
  }
}